# To run the AI Tutor app (FastAPI backend)
OPENAI_API_KEY=...
ANTHROPIC_API_KEY=...
GEMINI_API_KEY=...
COHERE_API_KEY=...

# Optional: trace agent/model/tool runs in LangSmith
LANGSMITH_API_KEY=...
LANGSMITH_TRACING=true
LANGSMITH_PROJECT=ai-tutor-app

# To update documentation/add new course
HF_TOKEN=... https://huggingface.co/settings/tokens to read or write to private DATASET repos e.g. https://huggingface.co/datasets/towardsai-tutors/ai-tutor-data/tree/main
GITHUB_TOKEN=...https://github.com/settings/tokens to use the Github API
