# To run AI Tutor Gradio UI
OPENAI_API_KEY=...
COHERE_API_KEY=...

# To update documentation/add new course
HF_TOKEN=... https://huggingface.co/settings/tokens to read or write to private DATASET repos e.g. https://huggingface.co/datasets/towardsai-tutors/ai-tutor-data/tree/main
GITHUB_TOKEN=...https://github.com/settings/tokens to use the Github API
