modal
openai
anthropic
instructor
pydantic
logfire
chromadb
cohere
tiktoken
llama-index
llama-index-postprocessor-cohere-rerank
llama-index-embeddings-cohere
llama-index-vector-stores-chroma
python-dotenv
ipykernel
google-generativeai
llama-index-llms-gemini
gradio
pymongo
huggingface_hub
nbconvert