*.7z filter=lfs diff=lfs merge=lfs -text
*.arrow filter=lfs diff=lfs merge=lfs -text
*.bin filter=lfs diff=lfs merge=lfs -text
*.bz2 filter=lfs diff=lfs merge=lfs -text
*.ckpt filter=lfs diff=lfs merge=lfs -text
*.ftz filter=lfs diff=lfs merge=lfs -text
*.gz filter=lfs diff=lfs merge=lfs -text
*.h5 filter=lfs diff=lfs merge=lfs -text
*.joblib filter=lfs diff=lfs merge=lfs -text
*.lfs.* filter=lfs diff=lfs merge=lfs -text
*.lz4 filter=lfs diff=lfs merge=lfs -text
*.mlmodel filter=lfs diff=lfs merge=lfs -text
*.model filter=lfs diff=lfs merge=lfs -text
*.msgpack filter=lfs diff=lfs merge=lfs -text
*.npy filter=lfs diff=lfs merge=lfs -text
*.npz filter=lfs diff=lfs merge=lfs -text
*.onnx filter=lfs diff=lfs merge=lfs -text
*.ot filter=lfs diff=lfs merge=lfs -text
*.parquet filter=lfs diff=lfs merge=lfs -text
*.pb filter=lfs diff=lfs merge=lfs -text
*.pickle filter=lfs diff=lfs merge=lfs -text
*.pkl filter=lfs diff=lfs merge=lfs -text
*.pt filter=lfs diff=lfs merge=lfs -text
*.pth filter=lfs diff=lfs merge=lfs -text
*.rar filter=lfs diff=lfs merge=lfs -text
*.safetensors filter=lfs diff=lfs merge=lfs -text
saved_model/**/* filter=lfs diff=lfs merge=lfs -text
*.tar.* filter=lfs diff=lfs merge=lfs -text
*.tar filter=lfs diff=lfs merge=lfs -text
*.tflite filter=lfs diff=lfs merge=lfs -text
*.tgz filter=lfs diff=lfs merge=lfs -text
*.wasm filter=lfs diff=lfs merge=lfs -text
*.xz filter=lfs diff=lfs merge=lfs -text
*.zip filter=lfs diff=lfs merge=lfs -text
*.zst filter=lfs diff=lfs merge=lfs -text
*tfevents* filter=lfs diff=lfs merge=lfs -text
# Audio files - uncompressed
*.pcm filter=lfs diff=lfs merge=lfs -text
*.sam filter=lfs diff=lfs merge=lfs -text
*.raw filter=lfs diff=lfs merge=lfs -text
# Audio files - compressed
*.aac filter=lfs diff=lfs merge=lfs -text
*.flac filter=lfs diff=lfs merge=lfs -text
*.mp3 filter=lfs diff=lfs merge=lfs -text
*.ogg filter=lfs diff=lfs merge=lfs -text
*.wav filter=lfs diff=lfs merge=lfs -text
# Image files - uncompressed
*.bmp filter=lfs diff=lfs merge=lfs -text
*.gif filter=lfs diff=lfs merge=lfs -text
*.png filter=lfs diff=lfs merge=lfs -text
*.tiff filter=lfs diff=lfs merge=lfs -text
# Image files - compressed
*.jpg filter=lfs diff=lfs merge=lfs -text
*.jpeg filter=lfs diff=lfs merge=lfs -text
*.webp filter=lfs diff=lfs merge=lfs -text
ai-tutor-vector-db/chroma.sqlite3 filter=lfs diff=lfs merge=lfs -text
chroma.sqlite3 filter=lfs diff=lfs merge=lfs -text
ai_for_business_professionals/AI[[:space:]]for[[:space:]]Business[[:space:]]Professionals[[:space:]]190f9b6f42708087863df100e9b4b556/(Video)[[:space:]]AI[[:space:]]Apps[[:space:]]and[[:space:]]AI[[:space:]]Audio[[:space:]]Using[[:space:]]NotebookLM[[:space:]]to[[:space:]]L[[:space:]]1b0f9b6f4270800f8164d5a4a365196a/Screen_Recording_2025-03-14_at_10.05.04.mov filter=lfs diff=lfs merge=lfs -text
ai_for_business_professionals/AI[[:space:]]for[[:space:]]Business[[:space:]]Professionals[[:space:]]190f9b6f42708087863df100e9b4b556/(Video)[[:space:]]AI[[:space:]]Apps[[:space:]]and[[:space:]]AI[[:space:]]Audio[[:space:]]Using[[:space:]]NotebookLM[[:space:]]to[[:space:]]L[[:space:]]1b0f9b6f4270800f8164d5a4a365196a/Screen_Recording_2025-03-14_at_10.15.13.mov filter=lfs diff=lfs merge=lfs -text
ai_for_business_professionals/AI[[:space:]]for[[:space:]]Business[[:space:]]Professionals[[:space:]]190f9b6f42708087863df100e9b4b556/(video)[[:space:]]Making[[:space:]]Prompts[[:space:]]Robust[[:space:]]and[[:space:]]Ready[[:space:]]for[[:space:]]Re-Use[[:space:]]190f9b6f42708042bed5e17583e364a9/1.mov filter=lfs diff=lfs merge=lfs -text
ai_for_business_professionals/AI[[:space:]]for[[:space:]]Business[[:space:]]Professionals[[:space:]]190f9b6f42708087863df100e9b4b556/(video)[[:space:]]Making[[:space:]]Prompts[[:space:]]Robust[[:space:]]and[[:space:]]Ready[[:space:]]for[[:space:]]Re-Use[[:space:]]190f9b6f42708042bed5e17583e364a9/2.mov filter=lfs diff=lfs merge=lfs -text
ai_for_business_professionals/AI[[:space:]]for[[:space:]]Business[[:space:]]Professionals[[:space:]]190f9b6f42708087863df100e9b4b556/(video)[[:space:]]Making[[:space:]]Prompts[[:space:]]Robust[[:space:]]and[[:space:]]Ready[[:space:]]for[[:space:]]Re-Use[[:space:]]190f9b6f42708042bed5e17583e364a9/3.mov filter=lfs diff=lfs merge=lfs -text
ai_for_business_professionals/AI[[:space:]]for[[:space:]]Business[[:space:]]Professionals[[:space:]]190f9b6f42708087863df100e9b4b556/(video)[[:space:]]Making[[:space:]]Prompts[[:space:]]Robust[[:space:]]and[[:space:]]Ready[[:space:]]for[[:space:]]Re-Use[[:space:]]190f9b6f42708042bed5e17583e364a9/4.mov filter=lfs diff=lfs merge=lfs -text
ai_for_business_professionals/AI[[:space:]]for[[:space:]]Business[[:space:]]Professionals[[:space:]]190f9b6f42708087863df100e9b4b556/Using[[:space:]]LLMs[[:space:]]for[[:space:]]Research[[:space:]](Perplexity)[[:space:]]-[[:space:]]Video[[:space:]]190f9b6f42708069954bd75cc797a378/Screen_Recording_2024-11-27_at_17.10.38.mov filter=lfs diff=lfs merge=lfs -text
chroma-db-all_sources/chroma.sqlite3 filter=lfs diff=lfs merge=lfs -text
